<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      New Diary Entry
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Title</ion-label>
    <ion-input [(ngModel)]="newEntry.title" required></ion-input>
  </ion-item>

  <div>
    <ion-label position="stacked">Date</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="newEntry.date" required></ion-datetime>
  </div>

  <ion-item>
    <ion-label position="stacked">Description</ion-label>
    <ion-textarea [(ngModel)]="newEntry.description" required></ion-textarea>
  </ion-item>

  <ion-button expand="full" class="" (click)="saveEntry()">Save Entry</ion-button>
</ion-content>
